In [3]:
d = {'key':'value', 3: 'three', 'email':'sushant@example.com'}
d

{'key': 'value', 3: 'three', 'email': 'sushant@example.com'}

In [2]:
d1 = { '_': "three", True : 'true'}
d1

{'_': 'three', True: 'true'}

In [5]:
d1[1]

'true'

In [6]:
d4 = {'name':'sudh','mail':'sushant@example.com','name':'saras'}
d4

{'name': 'saras', 'mail': 'sushant@example.com'}

In [7]:
d4['phone']=6474945

In [8]:
d4

{'name': 'saras', 'mail': 'sushant@example.com', 'phone': 6474945}

In [9]:
del d4["phone"]
d4

{'name': 'saras', 'mail': 'sushant@example.com'}

In [10]:
d4.keys()

dict_keys(['name', 'mail'])

In [1]:
if(5>3):
    print("this is true")
else:
    print("this is false")

this is true

In [ ]:
n = input("enter")